*{
    margin: 0px;
}

body {
background-color:white;
color: #c29e97;
}

.header {
    background: #c29e97;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.Brand {
color: #b08179;
font-size: 75px;
}

.Enter {
    color: #b08179;
}

.logo {
    padding: 10px;
}

.header a {
color: white;
text-decoration: none;
height: inherit;
display: flex;
align-items: center;
padding: 0px 10px;
}

.header li {
    height: inherit;
}

.menu {
    height: inherit;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    height: inherit;
}

h1 {
    font-family: 'Raleway Dots';
    font-size: 30px;
}

h1 strong {
    color: #99cc00;
}

.Homepage {
    background: rgb(197, 230, 250);
    background-image: url('Images/Sewingroomtransparent.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: xx-large;
    text-align: center;
    padding: 100px;
    margin: 0px 0px 100px 0px;
}

.Homepage img {
    width: 100px;
    margin: 20px;
    image-rendering: 2.5;
}

